/* Font-Face Declarations */
@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Thin.ttf");
    font-weight: lighter;
    font-style: normal;
}

html, body {
    background: radial-gradient(circle, #FFF0F1, #FFFFFF);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

}

#gameArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(145, 143, 143);
    width: 45vw;
    height: 25vw;
    border: 2px solid #555; /* Optional border for visibility */
    position: relative; /* Make gameArea the relative parent for absolute positioning */

}

.paddle{
    float: left;
    height: 15%;
    width: 2%;

    background-color: blue;
    position: absolute;

}

.balls{
    float: left;
    height: 4.5%;
    width: 2.5%;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    position: relative;
    
}
.border{
    position: absolute;
    height: 7.5%;
    width: 100%;
    background-color: gray;
}

/* belongs at the top of game area */
#topBorder{
    top: 0;
}

/* belongs at the bottom of game area*/
#bottomBorder{
    bottom: 0;
}

#player1{
    bottom: 45%;
    right: 0;
}

#player2{
    bottom: 45%;
    left: 0;
}
